python-telegram-bot==11.0.0
green==2.12.1
pytest
pycodestyle==2.4.0
pydocstyle==2.1.1
chatterbot==0.8.7
radon==2.2.0
codecov==2.0.15
invoke
yamllint
watson-developer-cloud==1.7.1
googletrans
sphinx
sphinx-autobuild
sphinx_rtd_theme
